.computador{
    background-color: #1f1f1f;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    margin-right: 5rem;
    width: calc(25% - 5rem);
    border-radius: 5%;
    box-shadow: 5px 10px #000000;
}